<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jombay.animations" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExplodeAnimation"/>
        <activity android:name=".MenuToArrow"/>
        <activity android:name=".CircularReveal"/>
        <activity android:name=".CircularReveal2"/>
        <activity android:name=".FabTransitions"/>
        <activity android:name=".RevealActivity"/>
        <activity android:name=".RevealLaunched"/>
        <activity android:name=".SharedElementActivity"/>
        <activity android:name=".SharedElementActivity2"/>
    </application>

</manifest>
